.env
.DS_Store
langgraph/__pycache__/sukoon_role.cpython-310.pyc
langgraph/__pycache__/sukoon_role.cpython-310.pyc
autogen/OAI_CONFIG_LIST
autogen/.cache/41/cache.db
autogen/.cache/41/cache.db
langgraph/__pycache__/sukoon.cpython-310.pyc
autogen/.cache/41/cache.db
autogen/.cache/41/cache.db
autogen/.cache/41/cache.db
autogen/.cache/41/cache.db
autogen/autogen_multi_agent/Autogen-UI-main.zip
OAI_CONFIG_LIST
/autogen_multi_agent
autogen/.cache/41/cache.db
/__pycache__
archive/sample_sukoon_code.ipynb
whatsapp-bot
/langgraph
prompts/prompts.txt
user_research/sukoon_persona.jpg
data/synthetic_convo_notebooklm.wav
