.env
.DS_Store
langgraph/__pycache__/sukoon_role.cpython-310.pyc
langgraph/__pycache__/sukoon_role.cpython-310.pyc
autogen/OAI_CONFIG_LIST
autogen/.cache/41/cache.db
autogen/.cache/41/cache.db
langgraph/__pycache__/sukoon.cpython-310.pyc
autogen/.cache/41/cache.db
