/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .app { */
  /* display: flex; */
  /* flex-direction: column; */
  /* height: 100vh; */
  /* background-color: #f0f0f0; */
  /* font-family: Arial, sans-serif; */
/* } */

/*  */

/* @keyframes loading { */
  /* 0% { */
    /* width: 0%; */
  /* } */
  /* 50% { */
    /* width: 50%; */
  /* } */
  /* 100% { */
    /* width: 100%; */
  /* } */
/* } */

.body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.chat-container {
  display: flex;
  height: 100vh;
}

.menu {
  width: 5%;
  /* background-color: rgb(235, 235, 235); */
  border-right: 0.5px solid rgb(192, 192, 192);
}

.menu-content {
  width: 25%;
  padding: 8px 15px;
  border-right: 0.5px solid rgb(192, 192, 192);
  /* background-color: lightblue; */
}

.chatConv {
  width: 70%;
  /* background-color: lightgreen; */
}

.chatConv .messages {
  font-size: larger;
}

.button {
  padding: 20px 10px;
}

.button p {
  font-size: smaller;
}

.button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.discover div {
  padding: 7px;
}

.discover img {
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--bs-box-shadow) !important;
}

/* Chat input */

.query-action input {
  border: .1px solid gray;
  border-right: none;
  padding: 12px 12px 12px 15px;
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.query-action .submit {
  width: 50px;
  cursor: pointer;
  border: .1px solid gray;
  border-left: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

input:focus-visible {
  outline: 0 auto -webkit-focus-ring-color;
}

.userMsg {
  /* width: 50%; */
  float: right;
}

.agentMsg {
  /* width: 50%; */
  float: left;
}